<!-- Generated template for the MessageChallengeComponent component -->
<div class="background-wrapper">
	<br>
	<div class="section-title">
		Daily Challenge
	</div>

	<div class="section-description">
		<p>Get ready for the challenges prepared for you!</p>
	</div>

	<div class="challenge-list-wrapper" *ngIf="section">
		<div *ngFor="let challenge of challenges; let cidx = index">
			<ion-card class="challenge-card">
				<ion-card-header text-wrap>
					{{challenge.title}}
				</ion-card-header>
				<ion-card-content>
					<div class="icons"><ion-icon name="time"></ion-icon>{{challenge.duration}}</div>
				<!--
				<ion-grid>
					<ion-row>
						<ion-col>
							Difficulty: {{challenge.difficulty}}
						</ion-col>
						<ion-col>
							Fun: {{challenge.fun}}
						</ion-col>
					</ion-row>
				</ion-grid> -->
				<ion-grid *ngIf="!challenge.hasCompleted && !challenge.hasGivenup">
					<ion-row>
						<ion-col>
							<button ion-button full color="dark" class="giveup-button" (click)="giveupChallenge(cidx)">I don't have time</button>
						</ion-col>
						<ion-col col-8>
							<button ion-button full class="challenge-button" (click)="completeChallenge(cidx)">I just finished it!</button>
						</ion-col>
					</ion-row>
				</ion-grid>

			</ion-card-content>
		</ion-card>
	</div>
</div>
</div>
<!--
<div *ngIf="section && (section.hasCompleted || section.hasGivenup)">
	<div *ngFor="let challenge of section.options; let cidx = index">
		<ion-card *ngIf="cidx == section.pickedIdx">
			<ion-card-header>
				{{challenge.content}}
				<p>{{challenge.category}}</p>
			</ion-card-header>
			<ion-card-content>
				<p>{{challenge.content}}</p> 
				<hr>
				<ion-grid>
					<ion-row>
						<ion-col>
							Difficulty: {{challenge.difficulty}}
						</ion-col>
						<ion-col>
							Fun: {{challenge.fun}}
						</ion-col>
					</ion-row>
				</ion-grid>

				<ion-label text-wrap *ngIf="section.hasCompleted">
					Horray! You've completed the challenge.
				</ion-label>
				<ion-label text-wrap *ngIf="section.hasGivenup && section.hasAttempted">
					You have attempted the challenge, but choose not to complete it.
				</ion-label>
				<ion-label text-wrap *ngIf="section.hasGivenup && !section.hasAttempted">
					You have not attempted the challenge and choose not to complete it.
				</ion-label>
			</ion-card-content>
		</ion-card>
	</div>
</div> -->