<ion-content id="message-list">
  <button (click)="addMsg()">Add Msg</button>
  <ion-list>
    <ion-list-header>Follow us on Twitter</ion-list-header>

    <!--
    <ion-item *ngFor="let message of messages">
    {{message.content}}
    </ion-item>
  -->

  <ion-item *ngFor="let message of messages | async | reverse" class="message-item">
    <div *ngIf="message">
      <message-detail [msg]="message"></message-detail>
      <button (click)="navigateToDetail(message)"> {{message.payload.val().content}} </button>
    </div>
  </ion-item>

</ion-list>

</ion-content>