page-contact {
	#message-list {
		
	}

	ion-header {
	}

	ion-navbar {
		background-color: transparent !important;
	}

	ion-item-divider {
		
	}

	.calendar-header {
		z-index: 10000000;
		border: transparent !important;
	}

	.calendar-button {
		color: white;
	}

	.item-md {
		background: transparent;
		//background: linear-gradient(#acb6e5, #86fde8);
	}

	#message-list {
		//background: linear-gradient(#acb6e5, #86fde8);
		//background: linear-gradient(#dae9e4, #4990E2);
		background: #52BCFE;
		padding: 0px !important;
		//background: color($colors, light);
	}

	.message-item {
		//padding-left: 0px;
		//padding-right: 0px;
		padding: 0px !important;
		margin: 0px 0px 50px 0px;
		
	}

	.item-inner {
		//padding-right: 0px !important;
		//padding-left: 0px !important;
	}

	ion-content {
		padding: 0px !important;
	}

	.outter-message-wrapper {
		padding: 0px !important;
		margin: 0px !important;
	}

	.message-inner-wrapper {
		padding: 0px !important;
		margin: 0px !important;
	}
}
