message-detail {
	.survey-wrapper {
		
	}

	.question-button-group {
		margin-top: 40px;
	}

	.survey-list-wrapper {
		//background: black;
		margin: 20px 0px 20px 0px;
		padding: 10px 20px 20px 20px;
		background: color($colors, light);
		color: color($colors, dark);
		font-size: 20px;
		//background: linear-gradient(#fdae84, #e2b49a);
	}

	.section-wrapper {
		margin: 0px;
		padding: 0px;
	}

	.range-md .range-bar {
		border-radius: 10px !important;
	}

	.message-card {
		border-radius: 10px;
		padding: 0px !important;
	}

	ion-card-header {
		font-size: 40px !important;
		border-bottom: 1px solid color($colors, light);
		margin-bottom: 0px;
	}

	ion-card-content {
		padding: 0px;
	}

	.section-title {
		font-size: 18px !important;
		font-weight: bold !important;
		text-align: center;
		width: 100%;
		color: color($colors, dark);
	}

	.section-title:after {
		display: inline-block;
		margin: 0 0 5px 5px;
		height: 1px;
		content: " ";
		text-shadow: none;
		background-color: #999;
		width: 30px;
	}

	.section-title:before {
		display: inline-block;
		margin: 0 5px 5px 0px;
		height: 1px;
		content: " ";
		text-shadow: none;
		background-color: #999;
		width: 30px;
	}

	.survey-question {
		margin-bottom: 0px;
	}

	.survey-answer {
		margin-top: 0px;
	}

	.submit-button {
		margin-top: 50px;
	}

	.section-wrapper {
		border-bottom: 1px solid color($colors, light);
	}

	@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .fadeIn {
    animation-name: fadeIn;
    animation-duration: 2s;
  }

	.question-wrapper{
		//padding: 20px;
	}

//range
	.range-md .range-bar {
		border-radius: 10px !important;
		margin-left: -15px;
		width: 110%;
	}

	.range-md .range-tick {
		//border-color: white;
		//border-style: solid;
    //border-width: 2px;
    background: #888;
    //padding-left: 10px;
	}

	.range-md .range-knob {
		border-color: white;
		border-style: solid;
    border-width: 2px;
    background: #c4c4c4 !important;
	}
}
