message-detail {

	ion-card-header {
		font-size: 40px !important;
		border-bottom: 1px solid color($colors, light);
		margin-bottom: 0px;
	}

	ion-card-content {
		padding: 0px;
	}

	.section-title {
		font-size: 18px !important;
		font-weight: bold !important;
		text-align: center;
		width: 100%;
		color: color($colors, dark);
	}

	.section-title:after {
		display: inline-block;
		margin: 0 0 5px 5px;
		height: 1px;
		content: " ";
		text-shadow: none;
		background-color: #999;
		width: 30px;
	}

	.section-title:before {
		display: inline-block;
		margin: 0 5px 5px 0px;
		height: 1px;
		content: " ";
		text-shadow: none;
		background-color: #999;
		width: 30px;
	}
	
	.submit-button {
		margin-top: 50px;
	}

	.section-wrapper {
		border-bottom: 1px solid color($colors, light);
	}

	@keyframes fadeIn {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}

	.fadeIn {
		animation-name: fadeIn;
		animation-duration: 2s;
	}

	.question-button-group {
		float: right;
		margin-bottom: 20px;
		margin-top: 0px;
	}

}
