<!-- Generated template for the MessageDetailComponent component -->
<div *ngIf="time && sections" class="message-detail-wrapper">
	<ion-card class="message-card fadeIn">
		<ion-card-header class="message-header"> 
			<div class="message-time">{{getMonthName(time.month)}} {{time.date}}</div>
			<ion-grid class="section-progress-bar">
				<ion-row>
					<ion-col>
						How you walked
						<div class="progress-step-bar"></div>
					</ion-col>
					<ion-col>
						How you walked
						<div class="progress-step-bar"></div>
					</ion-col>
					<ion-col>
						How you walked
						<div class="progress-step-bar"></div>
					</ion-col>
				</ion-row>
			</ion-grid>
		</ion-card-header>
		<br>

		<ion-card-content>
			<ion-slides pager>
				<ion-slide *ngFor="let section of sections; let idx = index" id="section{{idx}}">
					<div class="section-wrapper">
						<br>

						<message-graph *ngIf=" section.type == 'graph'" [section]="section"> </message-graph>
						<message-streak-comparison *ngIf=" section.type == 'streak-comparison'" [section]="section"> </message-streak-comparison>
						<message-statas-comparison *ngIf=" section.type == 'stats-comparison'" [section]="section"></message-statas-comparison>
						<message-challenge *ngIf=" section.type == 'challenge'" [section]="section" [messageId]="messageId" [sectionId]="idx"> </message-challenge>

						<message-survey *ngIf="section.type != 'challenge' && section.survey" [survey]="section.survey"></message-survey>
						<!-- to clear -->
						<message-survey *ngIf="section.type == 'challenge' && section.complete_survey && section.hasCompleted" [survey]="section.complete_survey"></message-survey>
						<message-survey *ngIf="section.type == 'challenge' && section.attempted_survey && section.hasGivenup && section.hasAttempted" [survey]="section.attempted_survey"></message-survey>
						<message-survey *ngIf="section.type == 'challenge' && section.unattempted_survey && section.hasGivenup && !section.hasAttempted" [survey]="section.unattempted_survey"></message-survey>

						<button ion-button full="true" type="submit" class="submit-button" [disabled]="!valid" (click)="logForm(idx)">Next Section</button>
						<br>
					</div>
				</ion-slide>
			</ion-slides>
		</ion-card-content>
	</ion-card>
</div>
