<!--
  Generated template for the MessageDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

	<ion-navbar>
		<ion-title>message-detail</ion-title>
	</ion-navbar>

</ion-header>


<ion-content padding>

	<ion-item *ngFor="let section of sections">
		<message-graph *ngIf=" section.type == 'graph'" [section]="section"> </message-graph>
		<message-streak-comparison *ngIf=" section.type == 'streak-comparison'" [section]="section"> </message-streak-comparison>
		<message-statas-comparison *ngIf=" section.type == 'stats-comparison'" [section]="section"></message-statas-comparison>
		<message-challenge *ngIf=" section.type == 'challenge'" [section]="section"> </message-challenge>
	</ion-item>

</ion-content>
